.form{
    width: 60%;
    max-width: 500px;
    margin: auto;
    z-index: 100;
    position: absolute;
    background-color: rgb(204, 255, 109);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form input{
    margin: 10px;
    width: 91%;
}
.form button{
    width: 30px;
}
.close {
    display: none;
}